@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bodybg: hsl(275, 100%, 97%);
    --mainbg: #FFFFFF;
    --h1color: #301534;
    --h2color: #301534;
    --h2Activecolor:#AD28EB;
    --pcolor: #8B6990;
    --iconNanActivebg: #AD28EB;
    --iconActivebg: #301534;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    max-width: 100%;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Work Sans", sans-serif;
    user-select: none;
    background-color: var(--bodybg);
    display: flex;
    flex-direction: column;
    align-items: center;


}

header {
    width: 100%;
    height: 232px;
    background: url(./assets/background-pattern-mobile.svg)
}

main {
    width: 327px;
    height: auto;
    border: 1px solid red;
    background-color: var(--mainbg);
    padding: 24px;
    border-radius: 8px;
    position: absolute;
    top: 120px;
}

section {
    width: 279px;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

h1 {
    color: var(--h1color);
    font-size: 32px;
    font-weight: bold;
}

details {
    width: 279px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

summary {
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    width: 279px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

h2 {
    width: 225px;
    font-size: 16px;
    color: var(--h2color);
}

p {
    color: var(--pcolor);
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 24px;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--iconNanActivebg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon::before {
    content: "+";
    font-size: 24px;
    color: white;
}

details[open] .icon::before {
    content: "-";

}

details[open] .icon {
    background-color: var(--iconActivebg);
}
details[open] h2{
    color:var(--h2Activecolor)
}